
body {
    background: rgb(244, 253, 255);
    margin: 20px;
    color: #292f33;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

h1, h2 {
    font-family: Bitter, Georgia, serif;

}
select {
    font-size: 2em;
    margin-right: 3em;
}
div.blockHolder    {
    /*font: 15px sans-serif;*/
    /*background-color: steelblue;*/
    float: left;
    min-width: 500px;
    padding: 10px;
}
div.blockHolder:first-of-type {
    padding-left: 0px;
    border-right: 1px solid #cccccc;
}

.node rect{
    opacity:0.95;
    stroke-width: 2;
    stroke: #f1f6ff;
    shape-rendering: crispEdges;
}
.node:hover{
    opacity:1;
}
path.link:hover {
    stroke: #bfcad1;
    opacity: 1;
}

path.link {
    opacity: 1  ;
    fill: none;
}

path.selectedLink {
    opacity: 1;
}

text {
    font: 14px sans-serif;
    pointer-events: none;

    text-shadow: 0 1px 0 #fff;
}
div#chartLegend {
    clear:left;
}
.hidden {
    /*visibility: hidden;*/
}
#legendHolder {
    float:left;
    min-width: 510px;
    padding: 10px;
}

#tooltipChart {
    visibility: hidden;
    position: absolute;
    opacity: 0.95;
    float: left;
    width: 250px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltipChart h2 {
    font-size: 0.8em;
}
#tooltipChart.hidden {
    /*display: none;*/
}

#tooltipChart p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}