
body {
    background: rgb(250, 251, 255);
    margin: 20px;
    color: #292f33;

    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

h1, h2 {
    /*font-family: Bitter, Georgia, serif;*/

}
select {
    font-size: 2em;
    margin-right: 3em;
}


#matrix {
    /*fill:blue;*/
}
#matrix text {
    font-size: 70%;
}
#matrix line {
    stroke:#fff;
}
text.active {
    /*text-decoration: underline;*/
    font-weight: 900;
    /*fill:red;*/
}
.device-name {
    font-size: 14px !important;
}

.background {
    fill: #eee;
}

div.blockHolder    {
    float: left;
    min-width: 500px;
    padding: 10px;
}
div.blockHolder:first-of-type {
    padding-left: 0px;
    /*border-right: 1px solid #cccccc;*/
}

.node rect{
    opacity:0.95;
    stroke-width: 2;
    stroke: #f1f6ff;
    shape-rendering: crispEdges;
}
.node:hover{
    opacity:1;
    cursor: pointer;
}
/*path.link:hover {*/
    /*stroke: #bfcad1;*/
    /*opacity: 1;*/
/*}*/

path.link {
    opacity: 1  ;
    fill: none;

}
.textpath {
    font-size: 1.2em;

}
path.link:hover{
    cursor: pointer;
}

/*path.selectedLink {*/
    /*opacity: 1;*/

/*}*/
#select-device {
    display: block;
}

text {
    font: 14px sans-serif;
    pointer-events: none;

    text-shadow: 0 1px 0 #fff;
}
div#chartLegend {
    clear:left;
}
.hidden {
    /*visibility: hidden;*/
}
#legendHolder {
    float:left;
    min-width: 510px;
    padding: 0px 10px;
}

#tooltipChart {
    visibility: hidden;
    position: absolute;
    opacity: 0.95;
    float: left;
    width: 250px;
    height: auto;
    padding: 0px 10px 10px 10px;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltipChart h2 {
    font-size: 0.8em;
}
#tooltipChart.hidden {
    /*display: none;*/
}
#tooltipChart text {
    font-size: 14px;
}

#tooltipChart p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#matrix-chart{
    display: none;
}
#stacked-chart, #matrix-chart, #chart-1 {
    border: 1px solid rgba(215, 212, 212, 0.69);
    float: left;
    background-color: rgba(224, 242, 244, 0.25);
    margin-right: 10px;
    padding: 0em 1em;
}
